/*reset css*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  background-color: #fff;
}

/*--------------------*/
/*******general page styles**********/
/*************************************/
/******** imports style blocks**********/
.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 66px 15px 0 57px;
}
@media (max-width: 767.98px) {
  .header__logo {
    padding: 30px 15px 0 40px;
  }
}
@media (max-width: 575.98px) {
  .header__logo {
    padding: 15px 15px 0 10px;
  }
}

.header__logo img {
  width: 100px;
}

.header__menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  padding: 72px 67px 0 0;
}
@media (max-width: 767.98px) {
  .header__menu {
    padding: 35px 35px 0 0;
  }
}
@media (max-width: 575.98px) {
  .header__menu {
    padding: 8px 10px 0 0;
  }
}

.menu__list {
  display: flex;
}
@media (max-width: 575.98px) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.menu__item {
  margin: 0 20px 0 0;
}
@media (max-width: 575.98px) {
  .menu__item {
    margin: 10px 15px 0 0;
  }
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #808080;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  .menu__link {
    font-size: 12px;
  }
}

.menu__link-black {
  color: #000;
}

.hello__title {
  font-size: 174px;
  line-height: 101%;
  color: #333333;
  padding: 146px 0 0 89px;
}
@media (max-width: 991.98px) {
  .hello__title {
    font-size: 160px;
    padding-top: 110px;
  }
}
@media (max-width: 767.98px) {
  .hello__title {
    font-size: 110px;
    padding: 70px 0 0 70px;
  }
}
@media (max-width: 575.98px) {
  .hello__title {
    font-size: 55px;
    padding: 30px 0 0 20px;
  }
}

.hello__subtittle {
  font-size: 183px;
  line-height: 96%;
  color: #333333;
  padding-left: 89px;
}
@media (max-width: 991.98px) {
  .hello__subtittle {
    font-size: 160px;
  }
}
@media (max-width: 767.98px) {
  .hello__subtittle {
    font-size: 110px;
    padding-left: 70px;
  }
}
@media (max-width: 575.98px) {
  .hello__subtittle {
    font-size: 55px;
    padding-left: 20px;
  }
}

.hello__text {
  line-height: 267%;
  color: #808080;
  width: 500px;
  padding: 80px 0 0 89px;
}
@media (max-width: 767.98px) {
  .hello__text {
    padding: 40px 0 0 70px;
  }
}
@media (max-width: 575.98px) {
  .hello__text {
    padding: 20px 0 0 20px;
  }
}
@media (max-width: 575.98px) {
  .hello__text {
    width: 300px;
    line-height: 150%;
  }
}

.hello__image {
  text-align: center;
}

.hello__image img {
  height: 20px;
}

.tittle-font {
  font-family: "palatinolinotype_roman";
}

.block__tittle {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000BF;
  padding: 280px 0;
}
@media (max-width: 1199.98px) {
  .block__tittle {
    padding: 200px 0;
  }
}
@media (max-width: 991.98px) {
  .block__tittle {
    padding: 130px 0;
  }
}
@media (max-width: 767.98px) {
  .block__tittle {
    padding: 80px 0;
  }
}
@media (max-width: 575.98px) {
  .block__tittle {
    padding: 45px 0;
  }
}

.tittle {
  font-family: "palatinolinotype_roman";
  font-size: 69px;
  line-height: 87%;
  color: #808080;
}
@media (max-width: 991.98px) {
  .tittle {
    font-size: 60px;
    line-height: 75%;
  }
}
@media (max-width: 767.98px) {
  .tittle {
    font-size: 40px;
    line-height: 65%;
  }
}
@media (max-width: 575.98px) {
  .tittle {
    font-size: 25px;
    line-height: 45%;
  }
}

.subtitle {
  padding: 29px 0 0 0;
  font-size: 44px;
  line-height: 118%;
  color: #FFFFFF;
  max-width: 315px;
}
@media (max-width: 991.98px) {
  .subtitle {
    padding-top: 20px;
    font-size: 40px;
    line-height: 100%;
  }
}
@media (max-width: 767.98px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 575.98px) {
  .subtitle {
    padding-top: 15px;
    font-size: 16px;
    max-width: 112px;
  }
}

.tittle__text {
  padding: 29px 0 0 0;
  font-size: 17px;
  line-height: 188%;
  color: #7A7A7A;
  max-width: 315px;
}
@media (max-width: 991.98px) {
  .tittle__text {
    padding-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .tittle__text {
    font-size: 16px;
    line-height: 150%;
  }
}
@media (max-width: 575.98px) {
  .tittle__text {
    max-width: 112px;
    font-size: 12px;
    line-height: 90%;
  }
}

.button {
  padding: 20px 0 0 0;
  font-size: 15px;
  line-height: 133%;
  color: #ffffff;
}
@media (max-width: 991.98px) {
  .button {
    padding-top: 10px;
  }
}
@media (max-width: 575.98px) {
  .button {
    font-size: 12px;
  }
}

.button:hover {
  color: #6b6363;
}

.sinder__block {
  max-height: 800px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding-left: 72px;
}
@media (max-width: 767.98px) {
  .footer__container {
    padding-left: 45px;
  }
}
@media (max-width: 575.98px) {
  .footer__container {
    padding-left: 10px;
  }
}

.footer__logo {
  padding: 90px 0 0 0;
}
@media (max-width: 767.98px) {
  .footer__logo {
    padding-top: 60px;
  }
}
@media (max-width: 575.98px) {
  .footer__logo {
    padding-top: 30px;
  }
}

.portfolio {
  width: 147px;
  height: 25px;
}
@media (max-width: 575.98px) {
  .portfolio {
    width: 100px;
    height: 16px;
  }
}

.footer__link {
  padding-top: 50px;
}
@media (max-width: 767.98px) {
  .footer__link {
    padding-top: 40px;
  }
}
@media (max-width: 575.98px) {
  .footer__link {
    padding-top: 20px;
  }
}

.menu__link:hover {
  color: #1d1919;
}

.footer__text {
  padding-top: 45px;
}
@media (max-width: 767.98px) {
  .footer__text {
    padding-top: 40px;
  }
}
@media (max-width: 575.98px) {
  .footer__text {
    padding-top: 30px;
  }
}

.text {
  font-size: 13px;
  line-height: 185%;
  color: #B8B8B8;
}
@media (max-width: 767.98px) {
  .text {
    font-size: 12px;
  }
}

@font-face {
  font-family: "palatinolinotype_roman";
  src: url("/Reset/src/fonts/palatinolinotype_roman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/****************************/
[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: roboto;
  font-size: 12px;
}

.main {
  flex: 1 1 auto;
}

.sinder {
  background-size: 100% 100%;
  background-position: center center;
  background-image: url("../img/nn.jpg");
  background-repeat: no-repeat;
}

.igotchu {
  background-image: url("../img/2.jpg");
  background-size: 100% 100%;
  background-position: center center;
}

.earth {
  background-image: url("../img/3.jpg");
  background-size: 100% 100%;
  background-position: center center;
}