.footer__container {
    display: flex;
    flex-direction: column;
    padding-left: 72px;
    @media(max-width: 767.98px){
        padding-left: 45px;
    }
    @media(max-width: 575.98px){
        padding-left: 10px;
    }
}
.footer__logo {
    padding: 90px 0 0 0;
    @media(max-width: 767.98px){
        padding-top: 60px;
    }
    @media(max-width: 575.98px){
        padding-top: 30px;
    }
}
.portfolio {
    width: 147px;
    height: 25px;
    @media(max-width: 575.98px){
        width: 100px;
        height: 16px;
    }
}
.footer__link {
    padding-top: 50px;
    @media(max-width: 767.98px){
        padding-top: 40px;
    }
    @media(max-width: 575.98px){
        padding-top: 20px;

    }
}
.menu__link:hover {
    color: #1d1919;
}
.footer__text {
    padding-top: 45px;
    @media(max-width: 767.98px){
        padding-top: 40px;
    }
    @media(max-width: 575.98px){
        padding-top: 30px;
    }
}
.text{
    font-size: 13px;
    line-height: 185%;
    color: #B8B8B8;
    @media(max-width: 767.98px){
        font-size: 12px;
    }
}