
.block__tittle {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000BF;
    padding: 280px 0;
    @media(max-width: 1199.98px){
        padding: 200px 0;
    }
    @media(max-width: 991.98px){
        padding: 130px 0;
    }
    @media(max-width: 767.98px){
        padding: 80px 0;
    }
    @media(max-width: 575.98px){
        padding: 45px 0;
    }
}
.tittle {
    font-family: "palatinolinotype_roman";
    font-size: 69px;
    line-height: 87%;
    color: #808080;
    @media(max-width: 991.98px){
        font-size: 60px;
        line-height: 75%;
    }
    @media(max-width: 767.98px){
        font-size: 40px;
        line-height: 65%;
    }
    @media(max-width: 575.98px){
        font-size: 25px;
        line-height: 45%;

    }

}
.subtitle {
    padding: 29px 0 0 0;
    font-size: 44px;
    line-height: 118%;
    color: #FFFFFF;
    max-width: 315px;
    @media(max-width: 991.98px){
        padding-top: 20px;
        font-size: 40px;
        line-height: 100%;
    }
    @media(max-width: 767.98px){
        font-size: 30px;
        
    }
    @media(max-width: 575.98px){
        padding-top: 15px;
        font-size: 16px;
        max-width: 112px;
    }

}
.tittle__text {
    padding: 29px 0 0 0;
    font-size: 17px;
    line-height: 188%;
    color: #7A7A7A;
    max-width: 315px;
    @media(max-width: 991.98px){
        padding-top: 15px;
    }
    @media(max-width: 767.98px){
        font-size: 16px;
        line-height: 150%;
    }
    @media(max-width: 575.98px){
        max-width: 112px;
        font-size: 12px;
        line-height: 90%;
    }
}
.button {
    padding: 20px 0 0 0;
    font-size: 15px;
    line-height: 133%;
    color: #ffffff;
    @media(max-width: 991.98px){
        padding-top: 10px;
    }
    @media(max-width: 575.98px){
        font-size: 12px;
    }
}
.button:hover{
    color: #6b6363;
}
.sinder__block{
    max-height: 800px;
}